<!DOCTYPE html>
<html lang="en" layout:decorate="/template.html">
<head>
    <meta charset="UTF-8">
    <title>add new User</title>
</head>
<body layout:fragment="body">
<h1>add new group </h1>
<form method="post" th:action="@{/group/new}">
    <div>
        <input name="userId" placeholder="enter userId" type="text">
    </div>
    <div>
        <input name="name" placeholder="enter name" type="text">
    </div>

    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>