<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>User role search</title>
</head>

<body>

<h1>course List</h1>
<a th:href="@{/course/new}">Add new</a>

<form method="get" th:action="@{/course/search}">
    <input name="name" placeholder="Enter name..." th:value="${name}" type="text">
    <input name="page" placeholder="Enter page..." th:value="${page}" type="text">

    <select name="size">
        <option th:selected="${size == 5}" value="5">5</option>
        <option th:selected="${size == 10}" value="10">10</option>
    </select>

    <button type="submit">Search</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="d : ${courseList}">
        <td th:text="${d.id}"></td>
        <td th:text="${d.name}"></td>

        <td>
            <a th:href="@{'/course/get/' + ${d.id}}">View</a>
            <a th:href="@{'/course/edit?id=' + ${d.id}}">Edit</a>
            <a th:href="@{'/course/delete?id=' + ${d.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            Tổng <span th:text="${count}"></span> bản ghi trong <span th:text="${totalPage}"> </span> trang
        </td>
    </tr>
    </tfoot>
</table>
</body>

</html></title>
</head>
<body>

</body>
</html>