<!--fragment: dùng lại, dùng để gọi sang trang khác-->

<ul th:fragment="main-menu">
    <li class="list-group-item">
        <a th:href="@{/home}" th:text="#{label.home}"></a>
    </li>

    <li class="list-group-item">
        <a th:href="@{/about}" th:text="#{label.about}"></a>
    </li>

    <li class="list-group-item">
        <a th:href="@{/department/search}">Department</a>
    </li>

    <li class="list-group-item">
        <a th:href="@{/ticket/search}">Ticket</a>
    </li>

    <li class="list-group-item">
        <a th:href="@{/change-lang?lang=vi}">Viet</a>
        <a th:href="@{/change-lang?lang=en}">Eng</a>
    </li>
</ul>

<ul class="nav justify-content-center" th:fragment="menu-footer">
    <li class="nav-item">
        <a class="nav-link" th:href="@{/about}" th:text="#{label.about}"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/home}" th:text="#{label.home}"></a>
    </li>
</ul>